.bluesquare {
  background-color: blue;
  height: 100px;
  border: 5px solid black;
  text-align: center;
}

.bluesquare p {
    display: none;
}

.timing {
  margin-left: 50px;
  margin-top: 20px;
}

.fixed-size {
  width: 310px;
  height: 310px;
  border: 5px solid black;
}

.align {
  margin-top:50px;
  margin-left: 50px;
}
